
<!DOCTYPE html>
<html lang="en">
<head>
    <title>pdf</title>
</head>
<body>
    <table border="2">
        <tr>
            <th>_id</th>
            <th>partyFirstName</th>
            <th>partyLastName</th>
            <th>partyMiddleName</th>
            <th>partyCompanyName</th>
            <th>partyMobile</th>
            <th>partyGstNo</th>
            <th>partyPanNo</th>
            <!-- <th>partyAadharCardNo</th>
            <th>partyCompanyMobile</th>
            <th>bankName</th>
            <th>bankAccountNo</th>
            <th>bankAccountType</th>
            <th>bankIFSCCode</th>
            <th>bankBranchAddress</th>
            <th>contactPersonName</th>
            <th>contactPersonMobile</th>
            <th>contactPersonEmail</th>
            <th>contactPersonAddress</th> -->
                
        </tr>
            <tr>
              <td><%= partyData._id %></td>
              <td><%= partyData.partyFirstName %></td>
              <td><%= partyData.partyLastName %></td>
              <td><%= partyData.partyMiddleName%></td>
              <td><%= partyData.partyCompanyName%></td>
              <td><%= partyData.partyMobile %></td>
              <td><%= partyData.partyGstNo%></td>
              <td><%= partyData.partyPanNo %></td>
            </tr>     
        </table>
</body>
</html>